<h1>Hello from class Detail</h1>


<h3>List of Students in Class ID: {{classInfo.class_id}}</h3>


<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>A.1.</th>
        </tr>
        <tr ng-repeat="student in students">
            <td>{{student.student_number}}</td>
            <td>{{student.student_name}}</td>
            <td></td>
        </tr>
    </table>
</div>


<ul>
    <li ng-repeat="student in students">
        <ul>
            <li>STUDENT NUMBER: {{student.student_number}}</li>
            <li>STUDENT NAME :  {{student.student_name}}</li>
            
        </ul>
    </li>
</ul>