<md-toolbar >
    <div layout="column" layout-align="top center">
        <h3>College of Engineering</h3>
    </div>
    
</md-toolbar>

<div flex class="container" layout="row" >
    <md-sidenav flex md-is-locked-open="$mdMedia('gt-md')"  class="md-whiteframe-4dp" >
        <left-nav user-data="userData"></left-nav>
     </md-sidenav>
    
    <md-content flex  layout="column">
        <div flex-xs flex-gt-xs="50" layout="column">
              <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Manage User</span>
                    <span class="md-subhead">Small</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="goToManageUser()">Manage User</md-button>
                  
                </md-card-actions>
              </md-card>

            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Manage Curriculum</span>
                    <span class="md-subhead">Small</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="goToManageCurriculum()">Manage Curriculum</md-button>
                  
                </md-card-actions>
              </md-card>
            
              <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Post</span>
                    <span class="md-subhead">Small</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="post($event)">Post</md-button>
                  
                </md-card-actions>
              </md-card>

              <div layout layout-padding layout-align="center end" style="height:200px">
                <md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>
              </div>
        </div>
    </md-content>
</div>




