<md-toolbar class="md-primary md-hue-2" >
    <div layout = "row">
        <span flex="40"></span>
        <div layout="column"  flex="50">
            <h3>College of Engineering</h3>
        </div>
        
        <div>
            <div class="avatar-container">
                <md-button class="avatar-btn" aria-label="avatar-btn">
                    <img class="avatar-box" src="/client/img/avatar/avatar1.png"/>
                </md-button>
            </div>
        </div>
        
    </div>

</md-toolbar>

<div flex class="container" layout="row" >
    <md-sidenav flex md-is-locked-open="$mdMedia('gt-md')"  class="md-whiteframe-4dp" >
        <left-nav user-data="userData"></left-nav>
    </md-sidenav>
    
    <md-content flex  layout="column">
        <div>
            <div layout="row" >
                <span flex="10"></span>    
                <md-card flex="50" md-theme="dark-orange">
                    <md-card-header >
                        <md-card-avatar>
                            <img src="/client/img/avatar/avatar1.png"/>
                        </md-card-avatar>
                        <md-card-header-text >
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="/client/img/img_sample/pic_icon.png" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Card header</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content >
                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        
        <div>
            <div layout="row" >
                <span flex="10"></span>    
                <md-card flex="50">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="/client/img/avatar/avatar1.png"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="/client/img/img_sample/pic_icon.png" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Card header</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as wel
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        
        
    </md-content>
    
</div>







